<nav class="navbar">
    <div class="navbar-brand">
        <a href="/" class="navbar-item">Home</a>
    </div>
    <div class="navbar-menu">
        <a href="/usuarios" class="navbar-item">Usuários</a>
        <a href="/cadastro" class="navbar-item">Cadastro</a>
        <a href="/login" class="navbar-item">Login</a>
    </div>
</nav>