<div class="usuarios-page">
    <h1>{{title}}</h1>
    
    {{> paragrafo texto="Lista completa de usu치rios cadastrados" subtexto="Veja abaixo todos os usu치rios do sistema"}}
    
    {{> tabela-usuarios}}
    
    <div class="acoes">
        {{> paragrafo texto="Deseja adicionar um novo usu치rio?"}}
        <a href="/cadastro" class="btn-submit">Cadastrar Usu치rio</a>
    </div>
</div>

<style>
    .usuarios-page {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
    }
    .acoes {
        margin-top: 2rem;
        text-align: center;
    }
    .acoes a {
        display: inline-block;
        text-decoration: none;
    }
</style>